body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7dz-NE1I1O16-YD0Bh9_zc4BJmT-Me_NUTe6mOTUw4e1o14SgicdBp2tgoAfPCCUZ9-E&usqp=CAU);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(48, 40, 40);
}
